* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

nav {
  height: 80px;
  width: 100%;
  background-color: red;
  position: fixed; }

.hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../images/joker.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.callout {
  color: white;
  font-family: sans-serif;
  text-align: right;
  margin-right: 50px;
  margin-top: -400px;
  font-size: 130%; }
